</div>

<ul id="contact">
    <li><script language="JavaScript">
    
    var username = "mistergough";
    
    var hostname = "gmail.com";
    
    var linktext = username + "@" + hostname ;
    
    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
    
    </script></li>
    <li><a href="https://medium.com/@mistergough">medium.com/@mistergough</a></li>
    <li><a href="https://www.linkedin.com/in/mistergough/">https://www.linkedin.com/in/mistergough</a></li>
    <li><a href="https://www.instagram.com/mistergough/">instagram.com/mistergough</a></li>
    </ul>