---
layout: default
---

{% assign num = page.photos.size %}

<h2>{{ page.title }}</h2>
<ul class="gallery">
  {% for i in (1..num) %}
  <li>
    <a href="{{ site.baseurl }}/images/photos/{{ page.photos.set }}/{{ page.photos.set | capitalize }}-{{ i }}.jpg" data-lightbox="{{ page.photos.set }}"><img src="{{ site.baseurl }}/images/photos/{{ page.photos.set }}/{{ page.photos.set | capitalize }}-{{ i }}.jpg" alt="Photo {{ i }} from {{ page.photos.set | capitalize }}"></a>
  </li>
  {% endfor %}
</ul>
<div>
  <a href="{{ site.baseurl }}/photos/">View All Photo Sets</a>
</div>